<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Temp
    body
        //required for flash
        include flash.pug

        //code sample for user operations
        p user operations
        ul
            if (user.isAdmin === true)
                p you are admin you can see here
                if (users)
                    each user in users
                        form(action="/user/delete" method="POST")
                            input(type="hidden" name="username" value=user.username)
                            li= user.username
                            button(type="submit") delete
                        form(action="/user/edit" method="POST")
                            input(type="hidden" name="oldUsername" value=user.username)
                            label(for="newUsername") username
                            br
                            input(type="text" name="newUsername" id="newUsername" value=user.username)
                            br
                            label(for="newPassword") password (leave it blank if you are not going to change it)
                            br
                            input(type="password" name="newPassword" id="newPassword" )
                            br
                            label(for="newIsadmin") is admin
                            br
                            if (user.isAdmin === true)
                                input(type="checkbox" name="newIsAdmin" id="newIsAdmin" checked="checked")
                            else
                                input(type="checkbox" name="newIsAdmin" id="newIsAdmin")
                            button(type="submit") Edit user

                else
                    p There is no users
            else
                p non admin users can't reach here

        form(action="/user/add" method="POST")
            label(for="username") username: 
            br
            input(type="text" name="username" id="username")
            br
            label(for="password") password:
            br
            input(type="password" name="password" id="password")
            br
            label(for="isAdmin") isAdmin:            
            br
            input(type="checkbox" name="isAdmin" id="isAdmin")
            br
            button(type="submit") sign up

        //code sample current user and user logout
        if (user)
            p current user and log out
            h5= user.username
            a(href="/logout") logout

        p room operations
        // code sample for room operations
        form(action="/" method="POST")
            input(type="text" name="roomname" required)
            button(type="submit") Add room
        ul
            if (rooms)
                each room in rooms
                    form(action="/room/delete" method="POST")
                        input(type="hidden" name="roomName" value=room.name)
                        li= room.name
                        button(type="submit") delete
                    form(action="/room/edit" method="POST")
                        input(type="hidden" name="oldRoomName" value=room.name)
                        input(type="text" name="newRoomName" value=room.name)
                        button(type="submit") edit
                    
            else
                p There is no rooms
        